@charset "utf-8";

/* 공통 */

/* font css */
@import url('../css/font.css');


/*reset*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary,button{
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	vertical-align:top;
	background:transparent;
	font-style: normal;
}
html, body {width:100%; height:100%; font-family: 'Noto Sans KR';}
table, td{vertical-align: middle;}
p{font-size: 16px; text-align: center;}
ul, ol, li {list-style: none;}

.wrap{min-height: 100%;display: block;}

/* mark */
mark{background: #cee9d4; color: #444;}

/* head */
.head{width: 100%; display: flex; align-items: center; justify-content: space-between;}
.head .logo {padding: 20px;}
.head .logo > p{font-weight: 400; font-size: 20px;}
.head .nav_ul {display: flex;}
.head .mode_change{float: right;}
.mode_change .mode i {color: #fff; font-size: 20px; transition: all 0.5s; padding: 10px;opacity: 0;}
.mode_change div{display: flex; justify-content: center; align-items: center;}
.mode_change .mode i.active {opacity: 1;}

/* text-align */
.tc{text-align: center !important;}
.tl{text-align: left !important;}
.tr{text-align: right !important;}

/* font-size */
.fs10{font-size: 10px;}
.fs12{font-size: 12px;}
.fs14{font-size: 14px;}
.fs16{font-size: 16px;}

/* font-family */
.en{font-family: "Saira", sans-serif;}


/* font color */
.t_white{color: #fff;}
.t_primary{color: #0d6efd;}
.t_success{color: #198754;}
.t_warning{color: #ffc107;}
.t_danger{color: #dc3545;}
.t_navy{color: #223b5b;}

/* bg-color */
.bg_navy{background-color: #223b5b;}
.bg_success{background-color: #eef7f0;}
.bg_primary{background-color: #eff5ff;}


/* border-color */
.bd_success{border: 1px solid #cee9d4;}
.bd_primary{border: 1px solid #d3e1fb;}

/* guide content css */
.inner {padding: 10px;}
.h1{font-size: 30px; text-align: center;font-weight: bold;}
.txt_area{display: flex; justify-content: space-between;}

/* btn_area */
.btn_Primary{background: #0d6efd; border: 1px solid #d3e1fb; height: 35px; display: inline-block; color: #fff; box-sizing: border-box; line-height: 32px;}
.btn_Primary:hover{background: #d3e1fb;}
.btn_Success{background: #eef7f0; border: 1px solid #cee9d4; height: 35px; display: inline-block;color: #444; box-sizing: border-box; line-height: 32px;}
.btn_Success:hover{background: #cee9d4;}
.btn_Line{border: 1px solid #888; background: #fff; height: 35px; display: inline-block;color: #444; box-sizing: border-box; line-height: 32px;}
.btn_Line:hover{background: #e0e0e0;}
.btn_Gary{border:1px solid #d9d9d9; background: #f0f0f0; height: 35px; display: inline-block;color: #222; box-sizing: border-box; line-height: 32px;}
.btn_Gary:hover{background: #e0e0e0;}

