@charset "utf-8";

/* div.layerPopup 
	div.layerBox 
		div.layerHd > h2.layerTit + div.layerCon > p */
body{background: #fff;}

.layerPopup::before{display: block; content: " ";position: fixed; left: 0; top: 0; width: 100%; height: 100%;background: rgba(0,0,0,.5); z-index: 1;} 
.layerPopup .layerBox {z-index: 2; position: fixed; left: 50%; top: 50%; transform: translate(-50% , -50%); padding: 30px; background: #fff; border-radius: 3px; border:1px solid #d9d9d9; width: 350px; height: 250px;}
.layerPopup .layerBox .layerHd {padding: 10px;border-bottom: 1px solid #d9d9d9; width: 100%;}
.layerPopup .layerBox .layerHd .layerTit{ font-weight: bold; font-size: 16px;}
.layerPopup .layerBox .layerCon{width: 350px;height: 200px;}
.layerPopup div{display: inline;}
.layerPopup form {margin-top: 5px; font-size: 16px; font-weight: 500; width: 100%; height: 30px; line-height: 30px;}
.layerPopup .close {font-size: 16px; width: 30px; height: 30px; color: #333; float: right; line-height: 30px; text-align: center; text-decoration: underline; border:2px solid #222}
.layerPopup .close > a {text-decoration: none; color: #333;}
.layerPopup.hide{visibility: hidden;}