@charset "utf-8";
/* font */
@import url('https://fonts.googleapis.com/css2?family=Saira:wght@300;400;500;600;700;800;900&display=swap');
@import url('../js/slick/slick.css');
@import url('../js/slick/slick-theme.css');

body{background-color: #000; color: #fff;}
a{text-decoration: none;}
ol,ul{list-style:none;}


/* visual */
.visual_area {width: 100%; background: #000 url(../img/main/visual_img.png) no-repeat right bottom; height: 500px; background-size: 500px;}
.visual_area .inner{padding:0 20px;}
.visual_area .txt_area {display: flex; flex-direction: column; align-items: flex-start; padding-top: 150px; padding-left: 100px; width: 500px;}
.visual_area .txt_area .main_txt{font-size: 30px;font-weight: bold;}
.visual_area .txt_area h1{font-size: 24px; font-weight: 400; margin-top: 40px;}

/* mainCon1 */
.mainCon_1{width: 100%;display: flex; height: 500px; padding: 50px 0; justify-content: flex-end;}
.mainCon_1 .grid_wrap{padding: 0 20px; display: flex; justify-content: space-between;}
.mainCon_1 .grid_area {display: flex; justify-content: space-between; align-items: center; padding: 30px 0;}
.mainCon_1 .grid_area .grid_item {border: 1px solid #d5d5d5; padding: 30px; border-radius: 15px; width: calc((60% - 20px) / 4);}
.mainCon_1 .grid_area .grid_item .top_tag {display: flex; justify-content: space-between;}
.mainCon_1 .grid_area.left{justify-content: flex-start;}
.mainCon_1 .grid_area.right {justify-content: space-between;}

/* mainCon2 */
.mainCon_2 {width: 100%; padding: 50px 0;}
.mainCon_2 .grid_card_area{padding: 0 10px;}
.mainCon_2 .grid_card_area .grid_card {display: flex; justify-content: space-between;}
.mainCon_2 .grid_card_area .grid_card .card_item {width: calc((100% - 20px) / 3); padding:30px 20px; border: 1px solid #d5d5d5; margin-right: 20px; min-height: 300px; border-radius: 5px;}
.mainCon_2 .grid_card_area .grid_card li:last-child {margin-right: 0;}
.mainCon_2 .grid_card_area .grid_card .card_item div{flex-direction: column;}
.mainCon_2 .grid_card_area .grid_card .card_item .top_mid{display: flex; justify-content: space-between; flex-direction: row; padding: 10px 0;}
.mainCon_2 .grid_card_area .grid_card .card_item .top_mid .tag{background: #eff5ff; color: #1d56bc; padding:2px 5px; border-radius: 3px;}
.mainCon_2 .grid_card_area .grid_card .card_item .top_mid .tag.primary{background: #eff5ff; color: #1d56bc;}
.mainCon_2 .grid_card_area .grid_card .card_item .top_mid .tag.success{background: #E3f3e6; color: #008a1e;}
.mainCon_2 .grid_card_area .grid_card .card_item .top_mid .btn_area {display: flex; justify-content: flex-end; flex-direction: row;}
.mainCon_2 .grid_card_area .grid_card .card_item .top_mid .btn_area button{color: #fff; padding-right: 3px;}
/* remixIcon */
.mainCon_2 .grid_card_area .grid_card .card_item .top_mid .btn_area .heart-icon::before{content: "\EE0F";font-family: 'remixicon'; font-style: normal; font-size: 24px; color: #fff; margin-right: 3px;}
.mainCon_2 .grid_card_area .grid_card .card_item .top_mid .btn_area .share-icon::before{content: "\F0FE";font-family: 'remixicon'; font-style: normal; font-size: 24px; color: #fff; margin-right: 3px;}
.mainCon_2 .grid_card_area .txt_area {text-align: left; gap: 20px;}
.mainCon_2 .grid_card_area .txt_area h2{font-size: 22px;}
.mainCon_2 .grid_card_area .txt_area h2::after{content: "\EA6E"; font-family: 'remixicon'; font-style: normal; font-size: 26px; color: #fff; margin-right: 3px;}
.mainCon_2 .grid_card_area .txt_area p {text-align: left;}
.mainCon_2 .grid_card_area .txt_area .date{padding: 20px 0;}
.mainCon_2 .btn_area_right{display: flex; justify-content: flex-end; flex-direction: row !important; padding: 10px 0; border-bottom: 1px solid #fff;}
.mainCon_2 .btn_area_right button{border: 1px solid #246beb; color: #246beb; padding: 10px 5px; transition: all 0.5s; background: #fff; min-width: 80px;}
.mainCon_2 .btn_area_right button:hover{background: #246beb; color: #fff;}
.mainCon_2 .grid_card_area .grid_card .card_item .bottom_area {padding-top: 20px;}
.mainCon_2 .grid_card_area .grid_card .card_item .bottom_area .tag_span{border: 1px solid #fff; padding: 2px 5px; border-radius: 5px; gap: 10px;}

/* mainCon3 - KRDS 메인1-1 */
.mainCon_3  {width: 100%; padding: 50px 0;}
.mainCon_3 .Con3_grid{padding: 10px;}
.mainCon_3 .Con3_grid > div{display: flex;}
.mainCon_3 .Con3_item > div {display: flex;}
.mainCon_3 .Con3_grid .Con3_tit{font-size: 22px;}
.mainCon_3 .Con3_grid .Con3_tit > strong{font-size: 24px;}
.mainCon_3 .Con3_grid .div{justify-content: flex-start;}
.mainCon_3 .Con3_left{background: #1D6CEB; width: calc(50% - 250px);}
.mainCon_3 .Con3_left .Con3_txtBox{flex-direction: column;}
.mainCon_3 .Con3_left .Con3_txtBox p {color: #fff;}
.mainCon_3 .Con3_right {background: #BBD3F9; width: calc(50% - 20px);}
/* footer */
.footer{padding: 50px 0; border-top: 1px solid #f1f1f1;}

/* prefers-color-scheme - 사용자가 사용하고 있는 테마를 바탕으로 인식해서 자동으로 색상 지정 다크 or 화이트 */
@media (prefers-color-scheme: dark) {
    
    /* 다크모드에서 적용할 CSS 정의*/
    .mode_change .mode i.active {visibility: visible; opacity: 1;}

  }
  
  @media (prefers-color-scheme: light) {
    /* 라이트모드에서 적용할 CSS 정의*/
    body{background-color: #fff; color: #000;}
  }