
.fontSC1 {
	font-family: 'SCoreDream1';
}
.fontSC2 {
	font-family: 'SCoreDream2';
}
.fontSC3 {
	font-family: 'SCoreDream3';
}
.fontSC4 {
	font-family: 'SCoreDream4';
}
.fontSC5 {
	font-family: 'SCoreDream5';
}
.fontSC6 {
	font-family: 'SCoreDream6';
}
.fontSC7 {
	font-family: 'SCoreDream7';
}
.fontSC8 {
	font-family: 'SCoreDream8';
}
.fontSC9 {
	font-family: 'SCoreDream9';
}

@font-face {
    font-family: 'SCoreDream1';
    src: url('SCDream1.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'SCoreDream2';
    src: url('SCDream2.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'SCoreDream3';
    src: url('SCDream3.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SCoreDream4';
    src: url('SCDream4.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SCoreDream5';
    src: url('SCDream5.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
  
@font-face {
    font-family: 'SCoreDream6';
    src: url('SCDream6.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SCoreDream7';
    src: url('SCDream7.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SCoreDream8';
    src: url('SCDream8.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'SCoreDream9';
    src: url('SCDream9.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
