@charset "utf-8";

/*공통*/
.wrap {display:flex; align-items:normal; justify-content:flex-start; flex-direction:column; min-height:100%; min-width:1420px}
.inner {width:100%; max-width:1400px; box-sizing: border-box; margin: 0 auto;}

/*헤더 - 누리집*/
#header-top {position:relative; background-color:#edf1f5;}
#header-top .inner {display:flex; align-items:center; justify-content:flex-start; flex-direction:row; flex-wrap:wrap;}
#header-top .toggle-head {padding:0 16px;}
#header-top .toggle-head .inner {position: relative; padding-top:8px; padding-bottom:8px; padding-left:32px; gap:4px 16px; min-height:32px; box-sizing:border-box;}
#header-top .toggle-head .nuri-txt {display:flex; align-items: center; justify-content:flex-start; flex-direction:row; font-size:15px; line-height:1; word-break:break-all;}
#header-top .toggle-head .nuri-txt:before {display:inline-flex; position:absolute; left:0; content:''; width:24px; height:16px; background-size:contain; background:url('../../img/common/top_ban_ico_flag.svg') no-repeat center;}
#header-top .toggle-head .toggle-btn {font-size:14px; color:#003675; height:auto; display:none;}
#header-top .toggle-head .toggle-btn::after {content:''; background:url('../../img/common/ico_arr_20_down_blue.svg') no-repeat center; background-size: contain; transition:0.4s ease-in-out; width:16px; height:16px;}
#header-top .toggle-head.active .toggle-btn::after {transform:rotate(-180deg);}
#header-top .toggle-body {height:0; transition:0.4s ease-in-out; overflow:hidden;}
#header-top .toggle-body:before {display:flex; content:''; border-top:1px solid #cdd7e4;}
#header-top .toggle-head.active ~ .toggle-body {display:block;}
#header-top .toggle-body .inner {padding-top:24px; padding-bottom:24px; }
#header-top .toggle-body .dl {display:flex; align-items:normal; justify-content:flex-start; flex-direction:column; gap:16px; flex:1;}
#header-top .toggle-body .dl .dt {display:flex; gap:8px; align-items:center; font-weight:700;} 
#header-top .toggle-body .dl .dt::before {display:inline-flex; content:''; width:20px; height:20px; background:url('../../img/common/head_ico_nuri.svg') no-repeat center; background-size:contain;}
#header-top .toggle-body .dl .dd {padding-left:28px; font-size:15px; color:#555;}
#header-top .toggle-body .dl dd {padding-left:28px;}

/*헤더 메뉴*/
#header {position:relative; border-bottom:1px solid #dde2e8; width: 100%; height: 80px; z-index:99;}
#header.move{position: fixed; background-color: #fff;z-index: 101;top: 0;}
#header .hade-in {position:relative; width:100%; height:80px;}
#header .hade-in .logo {position:absolute; transform:translateY(-50%); top:50%;}
#header .hade-in .logo a {width:100%; display:block;}
#header .hade-in .logo a img {width:100%;}
#header .head-util {position:absolute; top:50%; right:0; transform:translateY(-50%);}
#header .head-util a {display:inline-flex; margin-left:10px; width:29px; height:30px; background-position:center; background-repeat:no-repeat; background-position:center;}
#header .head-util a.login-btn {background-image:url("../../img/common/btn_login_header.png");}
#header .head-util a.siteMap-btn {background-image:url("../../img/common/btn_menu_header.png");}
#header .head-util a.user-btn {background-image:url("../../img/common/btn_logout_header.png");}
#header .head-util .user-popup {position: absolute; top:40px; right:0px; width:250px; border:1px solid #ccc; padding:25px 20px 20px; background-color:#eff6fb; box-sizing: border-box; border-radius:20px; box-shadow: 2px 2px 4px 0px #0c0c0c1c;}
#header .head-util .user-popup::before {content:''; display:block; position:absolute; top:-9px; right:38px; width:37px; height:9px; background:url('../../img/common/img_user_popup_be.png') no-repeat center;}
#header .head-util .user-popup .name {text-align: center; font-weight:bold; font-size:18px; margin-bottom:10px;}
#header .head-util .user-popup .btn-box {display:flex; align-items:center; justify-content: center; gap: 10px; width:100%; border-radius:40px; height:40px; background-color:#fff; box-shadow: 0 0 4px #c6cadf;}
#header .head-util .user-popup .btn-box a {transition:all 0.3s; margin-left:0; display:inline-flex; width:auto; height:auto; color:#555;}
#header .head-util .user-popup .btn-box a + a {margin-left:10px; position: relative;}
#header .head-util .user-popup .btn-box a + a::before {content:''; display:block; position:absolute; top:6px; left:-10px; width:1px; height:12px; background-color:#ccc;}
#header .head-util .user-popup .btn-box a:hover {color:#406ddd; font-weight:bold;}
#header .head-util .user-popup .btn-close {position: absolute; top:10px; right:10px; width:25px; height:25px; background-color:#fff; border:1px solid #ccc; border-radius:50%;}
#header .head-util .user-popup .btn-close:before{content: " ";display: block;position: absolute;width:13px;height: 1px;background: #333;transform: rotate(45deg);left: 5px;top: 12px;}
#header .head-util .user-popup .btn-close:after{content: " ";display: block;position: absolute;width: 1px;height: 13px;background: #333;transform: rotate(225deg);left: 11px;top: 6px;}


/*메뉴+사이트맵*/
#header .head-gnb {width:100%;height: 80px; max-width: 1400px;}
.header-body.on {height: auto; position: absolute;width: 100%; background-color: #fff; z-index: 99;box-shadow: 3px 30px 30px rgba(0, 0, 0, 0.05);}
.head-gnb .gnb{z-index:10; width: 100%; height: 60px;padding-top: 10px;padding-left: 300px; box-sizing: border-box;}
.head-gnb .depth-1 {float: left; display: block; box-sizing: border-box;max-width: 22%; width: 100%;}  
.head-gnb .depth-1 > a {display: inline-block; padding: 10px 0px; height: 40px;}
.head-gnb .depth-1 a > span {padding: 0px 30px;}
.head-gnb .gnb .depth-1 .text {float: left; padding: 7px 15px;line-height: 1.5; font-weight: bold; font-size: 18px; width: 100%;}
.head-gnb .gnb .depth-2{display: block;transition: all .5s ease-in-out; width: 100%; height: 0; overflow: hidden;}  /*임시*/
.head-gnb .gnb .depth-2.on {padding: 0px 0 15px 0;transition: all ease 0.3s; height: auto;display: block;}
.head-gnb .gnb .depth-2-wrap > ul > li a{display: inline-block !important; width: 100%;}
.head-gnb ul.depth-2-ul .text.small{font-size: 17px ; font-weight: 500;margin-right: 0; line-height: 1.8;word-break: keep-all;}
.head-gnb ul.depth-2-ul .text.small:hover{color: #406ddd;}

/* PC 사이트맵*/
.siteMap-menu {display:block; background: #fff; z-index: 99; width: 100%;position: absolute; visibility: hidden;border: 1px solid #e8e8e8; box-shadow: 3px 30px 30px rgba(0,0,0,0.05); top: calc(50vh - 150px); border:1px solid #333; width:98%; left: 15px;} 
.siteMap-menu.open{visibility: visible;}
.siteMap-menu.open::after{background-color: #000;display: block;position: fixed;width: 100%;height: 100%;top: 0;right: 0;transition: 0.2s opacity ease;opacity: 0.7;content: " ";z-index: -1;}
.siteMap-menu .siteMap-in .gnb{display: flex;}
.siteMap-menu .siteMap-in .inner {padding: 0;}
.siteMap-menu .pc-top{position: absolute; right: -1px; border: 1px solid #333; width: 30px; height: 30px; background-color: #fff;top: -1px;}
.siteMap-menu .pc-top > a{width: 30px; height: 30px; display: block;}
.siteMap-menu .pc-top .close::before{content: " ";display: block;position: absolute;width: 25px;height: 1px;background: #333;transform: rotate(45deg);left: 3px;top: 14px;}
.siteMap-menu .pc-top .close::after{content: " ";display: block;position: absolute;width: 1px;height: 25px;background: #333;transform: rotate(225deg);left: 14px;top: 2px;}
.siteMap-menu .mo-top{display: none;}
.siteMap-menu .gnb li.depth-1{width: 25%;}
.siteMap-menu.pc .gnb li.depth-1 .more{display: none;}
.siteMap-menu.open .gnb li.depth-1 > .link{line-height: 60px;padding: 0 40px;font-size: 18px;background-color: #f8f8f8;font-weight: bold; display: block; text-align: center;}
.siteMap-menu .gnb li.depth-1 a .text {font-size: 18px; font-weight: bold;}
.siteMap-menu .gnb li.depth-1 a .text.small{font-weight: 500;word-break: keep-all;}
.siteMap-menu .gnb li.depth-1 a .text.small:hover{color: #406ddd;}
.siteMap-menu .gnb li.depth-1 > .depth-2{padding: 20px;}
.siteMap-menu.open .gnb li.depth-1{background-color: #fff;}
.siteMap-menu.open .gnb li.depth-1 > .depth-2{text-align: center;}
.siteMap-menu.open .gnb li.depth-1 > .depth-2 ul li {padding: 10px 0px;}

/*푸터*/
#footer { border-top:1px solid #cecece; background-color:#fafafa;}
#footer .footer-in {position:relative; padding:30px 0;}
#footer .footer-in .f-cnt .f-info {display:flex; margin:10px 0 0px;}
#footer .footer-in .f-cnt .f-info p {position: relative; font-size:15px; color:#555; word-break:keep-all;}
#footer .footer-in .f-cnt .f-info p.info-addr {padding-right:10px; margin-right:10px;}
#footer .footer-in .f-cnt .f-info p.info-addr:after {display:block; position: absolute; content:''; top:5px; right:0; height:12px; border-left:2px solid #bfbfbf;}
#footer .footer-in .f-cnt {margin-bottom:30px; font-size:18px; font-weight:600;}
#footer .footer-in .select {position:absolute; top:10px; right:0;}
#footer .footer-in .select select {width:240px; height:40px; background-color:transparent; border:1px solid #cfd3e0; font-size:15px;}
#footer .footer-in .f-btm {padding-top:20px; border-top:1px solid #cecece;}
#footer .footer-in .f-btm .f-btm-text {display:flex; justify-content:space-between; align-items: center;}
#footer .footer-in .f-btm .f-btm-text .f-menu a {position:relative; display:inline-block; font-size:15px; color:#23335e;}
#footer .footer-in .f-btm .f-btm-text .f-menu a + a {margin-left:10px; padding-left:13px;}
#footer .footer-in .f-btm .f-btm-text .f-menu a + a:after {position: absolute; content:''; display:block; margin-top:2px; top:50%; transform: translateY(-50%); left:0; width:4px; height:4px; border-radius:50%; background-color:#bac4d0;}
#footer .footer-in .f-btm .f-btm-text .f-menu a.point {color:#0019d0; font-weight:bold;}
#footer .footer-in .f-copy {color:#818c9e;}

/*버튼*/
.btn {display:inline-flex; align-items:center; justify-content:center; gap:4px; font-weight:400; line-height:1; cursor:pointer; white-space:nowrap; transition:0.4s ease-in-out; font-size:15px;}
.btn[class*=ico-]::after {display:inline-flex; content:'';}
.btn-txt[class*=ico-]::after {background-repeat:no-repeat; background-size:contain; background-position:center; }
.btn-txt { border:0; background-color:inherit; padding:0 2px !important;}
.btn-txt.xsm[class*=ico-] {gap:4px;}
.btn-txt.xsm[class*=ico-]::before, .btn-txt.xsm[class*=ico-]::after {width:16px; height:16px;}
.btn.xsm[class*=ico-]::after {width:16px; height:16px;}
.btn-txt.ico-go::before, .btn-txt.ico-go::after {background-image:url('../../img/common/ico_go_20.svg');}
.btn.xsm {height:32px; padding:0 10px; border-radius:6px; font-size:15px; }
.btn.basic {transition:all 0.3s; height:34px; font-size:15px; border:1px solid #ccc; min-width:80px; padding:0 10px; border-radius:34px; background-color:#fff;}
.btn.basic:hover {border-color:#616897;}
.btn.blue {background-color:#27389F; border-color:#27389F; color:#fff;}
.btn.blue:hover {background-color:#131f69; border-color:#131f69;}
.btn.btn_small {transition:all 0.3s; font-size:13px; padding:0 5px; border:1px solid #ccc; height:26px; border-radius:34px; background-color:#fff;}
.btn.btn_small:hover {border-color:#7386ff;}
.btn.btn_icon {display:inline-flex; position: relative; background-repeat:no-repeat; background-position:left 10px center; padding-left:23px;}
.btn.btn_icon.folder {background-image:url('../../img/sub/icon_folder.png'); background-size:15px; background-position:left 5px center;}
.btn.btn_icon.the_bot {background-image:url('../../img/sub/btn_myStat_the_bot.png');}
.btn.btn_icon.bot {background-image:url('../../img/sub/btn_myStat_bot.png');}
.btn.btn_icon.the_top {background-image:url('../../img/sub/btn_myStat_the_top.png');}
.btn.btn_icon.top {background-image:url('../../img/sub/btn_myStat_top.png');}
.btn.btn_icon.indent {background-image:url('../../img/sub/btn_myStat_indent.png');}
.btn.btn_icon.del {background-image:url('../../img/sub/btn_myStat_del.png'); padding-left:27px;}
.btn.btn_icon.down {background-image:url('../../img/sub/btn_file_down.png');}
.btn.btn_icon.view {background-image:url('../../img/sub/btn_file_view.png');}
.btn.btn_icon.del {background-image:url('../../img/sub/btn_del_2.png');}
.bottom_btn_wrap {display:flex; gap:10px; margin-top:30px;}
.btn_basic {transition:all 0.3s; display:inline-flex; padding:10px 20px; min-width:150px; height:50px; font-size:18px; justify-content:center; align-items: center; color:#fff; border-radius:5px; box-sizing: border-box;}
.btn_basic.navy {background-color:#00174b;}
.btn_basic.gray {background-color:#898989;}
.btn_basic.navy:hover {background-color:#000511;}
.btn_basic.gray:hover {background-color:#4e4e4e;}
.btnLogin {display:flex; align-items:center ; justify-content: center; width: 100%; height: 50px; background: #00174b; color: #fff; font-size: 18px; border-radius: 5px; transition:all 0.3s;}
.btnLogin:hover {background-color:#000f31;}

/*버튼-테이블안*/
.borderBtn {display:flex; justify-content:flex-end; gap:10px; flex-flow:wrap;}
.blue_btn {transition:all 0.3s; display:inline-block; padding:0px 10px; font-size:15px; height:34px; line-height:34px; border-radius:3px; color:#fff; background:#27389F; box-sizing:border-box;}
.blue_btn:hover {background:#131f69;}
.gray_btn {transition:all 0.3s; display:inline-block; padding:0px 10px; font-size:15px; height:34px; line-height:32px; border:1px solid #d9d9d9; border-radius:3px; color:#000; background:#f0f0f0; box-sizing:border-box;}
.gray_btn:hover {background:#e0e0e0;}
.red_btn {transition:all 0.3s; display:inline-block; padding:0px 10px; font-size:15px; height:34px; line-height:34px; border-radius:3px; color:#fff; background:#df2c2c; box-sizing:border-box;}
.red_btn:hover {background:#b81717;}
.green_btn {transition:all 0.3s; display:inline-block; padding:0px 10px; font-size:15px; height:34px; line-height:34px; border-radius:3px; color:#fff; background:#2dae6f; box-sizing:border-box;}
.green_btn:hover {background:#0e894d;}
.line_btn {transition:all 0.3s; display:inline-block; padding:0px 10px 0 30px; font-size:15px; height:34px; line-height:32px; border:1px solid #ccc; border-radius:3px; color:#222; background:#fff no-repeat left 10px center; box-sizing:border-box;}
.line_btn.del {background-image:url('../../img/sub/btn_del_2.png');}
.line_btn.down {background-image:url('../../img/sub/btn_file_down.png');}
.line_btn.view {background-image:url('../../img/sub/btn_file_view.png');}
.big_btn {box-sizing: border-box; border-radius: 10px; min-width: 100px; font-size: 16px; text-align: center; padding: 10px 20px; }
.big_btn.navy {transition:all 0.3s; background-color: #27389F; color: #fff;}
.big_btn.navy:hover {background-color:#131f69;}
.big_btn.line {transition:all 0.3s; background-color: #fff; border:1px solid #ccc; color: #222; }
.big_btn.line:hover {border-color:#616897;}
.big_btn.blue {transition:all 0.3s; display:inline-block; background-color:#406ddd;  color: #fff; }
.big_btn.blue:hover {background-color:#1f4ec7;}
.big_btn.green {transition:all 0.3s; display:inline-block; background:#2dae6f; color: #fff; }
.big_btn.green:hover {background-color:#0e894d;}
.big_btn.red {transition:all 0.3s; display:inline-block; background:#df2c2c; color: #fff; }
.big_btn.red:hover {background-color:#b81717;}
.link_btn { padding-right:40px !important; overflow:hidden; position:relative; }
.link_btn:after{ content:" "; width:18px; height:18px; position:absolute; display:block; right:10px; top:50%; margin-top:-9px; background:url('../../../img/portal/link_icon.png'); }

/*넘버 리스트*/
.num-list{overflow:hidden;}
.num-list.col2{margin-left:-20px;}
.num-list>li{position:relative;margin-bottom:3px;padding:0 0 0 22px;font-size:15px;color:#444;letter-spacing:-0.025em;}
.num-list>li span{display:block;position:absolute;left:0;top:3px;width:18px;height:18px;text-align:center;background:#8c8c8c;border-radius:50%;color:#fff;font-size:12px;font-weight:400;line-height:18px;}
.num-list.col2>li{float:left;width:calc(50% - 20px);margin-left:20px;}

