@charset "utf-8";

.table_scroll {overflow:auto;} 
.border_t_1 {border-top:1px solid #d9d9d9 !important;}
.border_r_1 {border-right:1px solid #d9d9d9 !important;}
.border_b_1 {border-bottom:1px solid #d9d9d9 !important;}
.border_l_1 {border-left:1px solid #d9d9d9 !important;}


/* 게시판 글보기*/
.borderView {table-layout:fixed; clear:both; width:100%; margin:0; border:0; border-top:2px solid #000;}
.borderView th {padding:10px 10px; border:0; border-right:1px solid #d9d9d9; border-bottom:1px solid #d9d9d9; font-weight:600; font-size:14px; line-height:20px; color:#444; text-align:left; background:#f7f7f7;}
.borderView td {padding:10px 10px; border:0; border-bottom:1px solid #d9d9d9; font-size:14px; line-height:20px; color:#777; text-align:left; word-wrap:break-word; word-break:keep-all;}
.borderView td.bbs_content {padding:30px 10px;}
.borderView td + th {border-left:1px solid #d9d9d9;}
.borderView tr th:last-child {border-right:0;}
.borderView p.tit {margin-bottom:10px; font-weight:bold; color:#4c4c4c;}

/*게시판 글쓰기*/
.borderWrite_wrap {width:100%;}
.borderWrite {clear:both; width:100%; margin:0; border:0; border-top:2px solid #000;}
.borderWrite th {padding:10px 10px; border:0; border-right:1px solid #d9d9d9; border-bottom:1px solid #d9d9d9; font-weight:600; font-size:16px; line-height:20px; color:#444; text-align:left; background:#f9f9f9;}
.borderWrite td {padding:10px 10px; border:0; border-bottom:1px solid #d9d9d9; font-size:15px; line-height:20px; color:#777; text-align:left; word-wrap:break-word; word-break:keep-all;}
.borderWrite td + th {border-left:1px solid #d9d9d9;}
.ref_text {display:block; padding-top:10px; clear:both; font-size:14px; line-height:20px;}
.checkbox_wrap + .checkbox_wrap {margin-left:5px;}
.checkbox_wrap input[type="checkbox"] {margin-top:-2px;}
.radiobox_wrap + .radiobox_wrap {margin-left:5px;}
.radiobox_wrap input[type="radio"] {margin-top:-2px;}
.selbox, .inputbox {overflow:hidden;}
.selbox select {width:150px;}
.inputbox input[type="text"] {width:150px;}
.telbox .first {width:40px;}
.telbox .midd, .telbox .last {width:50px;}

/*게시판 글쓰기 - 아래로*/
.borderWrite_col_wrap {width:100%;}
.borderWrite_col {clear:both; width:100%; margin:0; border:0; border-top:2px solid #000;}
.borderWrite_col th {padding:10px 10px; border:0; border-right:1px solid #d9d9d9; border-bottom:1px solid #d9d9d9; font-weight:600; font-size:16px; line-height:20px; color:#444; text-align:left; background:#f9f9f9;}
.borderWrite_col td {padding:10px 10px; border:0; border-bottom:1px solid #d9d9d9; font-size:15px; line-height:20px; color:#777; text-align:left; word-wrap:break-word; word-break:keep-all; line-height: 1.5;}
.borderWrite_col_wrap .borderWrite_col th, .borderWrite_col_wrap .borderWrite_col td {text-align:center; border-right:1px solid #d9d9d9;}
.borderWrite_col_wrap .borderWrite_col thead tr th:last-child, .borderWrite_col_wrap .borderWrite_col td:last-child {border-right:0;}
.borderWrite_col_wrap .borderWrite_col thead tr th:first-child, .borderWrite_col_wrap .borderWrite_col td:first-child {border-left: 0;}
.borderWrite_col_wrap .borderWrite_col th:first-child{border-left: unset;}

/*글쓰기 안 dl테이블*/
.borderWrite td.table_dlBox {padding:0;}
.borderWrite td.table_dlBox dl + dl {border-top:1px solid #d9d9d9;}
.borderWrite td.table_dlBox dl {overflow:hidden; display:table; width:100%;}
.borderWrite td.table_dlBox dl dt {display:table-cell; padding:10px 10px; width:100px; border-right:1px solid #d9d9d9; font-weight:600; font-size:14px; line-height:20px; color:#444; text-align:left; background:#f7f7f7; box-sizing:border-box; vertical-align:middle;}
.borderWrite td.table_dlBox dl dd {display:table-cell; padding:10px 10px; width:calc(100% - 100px); box-sizing:border-box;}

/*필수입력*/
.reqsubject i {margin-right:2px; color:#df2c2c;}
.reqsubject.txt {font-size:16px; color:#222; margin-bottom:10px; font-weight:500;}

/*e_mail*/
.e_mail {display:flex; gap:5px;}
.e_mail .input_box {display:flex; gap:5px; justify-content:center; align-items: center;}


/*게시판 버튼*/
.borderBtn {margin:20px 0; overflow:hidden;}
.borderBtn.center {justify-content: center;}
.big_btn.btn_down.navy{ padding-left:32px; background:url("../../img/common/btnDown.png") #193762 no-repeat 10px center;  }

/* 공지사항 */
#content .sub-top.center{justify-content: center;padding: 20px 0;}
#content .table_top_area{display: flex;width: 100%;padding-bottom: 10px;justify-content: space-between; align-items:flex-end;}
#content .table_top_area .table_total {color: #130d0d; font-size: 16px; display:flex; align-items: center; line-height:16px;}
#content .table_top_area .table_total .line{height: 13px; width: 2px; background-color: #e8e8e8;display: inline-block;margin: 0 5px;}
#content .table_top_area .table_total strong{color: #222; margin-left:5px;}

/*답글*/
.borderList .reply a {padding-left:20px; background:url('../img/sub/icon_reply.png') no-repeat left 4px top 8px;}

/* 나의 통계 */
.table_top_area .table_top_right .sort_sele {width: 155px;}

/* 검색 버튼 */
.table_top_area .table_top_right {font-size: 16px;display: flex; gap: 2px;}
.table_top_area .table_top_right .page_sch {display: flex; justify-content: center; }
.table_top_area .table_top_right select {height: 40px; padding-left: 5px; width: 78px; display: inline-block; border-right: 0;}
.table_top_area .table_top_right input{height: 40px; display: inline-block; width: calc( 100% - 165px );}  
.table_top_area .table_top_right .searchBtn::before{background-image: url(../img/sub/btn_search_small_w.png); content: " ";width: 13px; height: 13px;display: inline-block; margin-right: 3px; background-repeat: no-repeat;}
.table_top_area .table_top_right .searchBtn{background-color: #27389f; cursor: pointer; color: #fff; padding: 3px 6px; height: 40px; width: 80px;}

/* 테이블 */
.borderList{box-sizing: border-box; clear: both; width: 100%; margin: 0; border: 0; border-top: 2px solid #000; table-layout: fixed;}
.borderList th{padding: 10px 5px; border: 0; border-bottom:1px solid #000; line-height: 1.2; text-align: center; box-sizing: border-box; font-weight: 600; font-size: 16px;}
.borderList td {padding: 10px 5px; border: 0; border-bottom: 1px solid #dde2e8;font-size: 16px; font-weight: 500;color: #555; word-wrap: break-word; word-break: keep-all; box-sizing: border-box; text-align: center;} 
.borderList .subject{display: inline-block;line-height: 1.5;overflow: hidden;text-overflow: ellipsis;white-space: nowrap; width: 100%; text-align: left;} 
.borderList .subject:hover{text-decoration: underline;text-underline-position: under;color: #27389f;}
.borderList tbody .text {text-align:left;}
.borderList .subject_n {display: inline-block;line-height: 1.5;width: 100%; text-align: left;} 
.borderList .subject_n:hover{text-decoration: underline;text-underline-position: under;color: #27389f;}

/* 페이징 */
.pagination{margin: 40px 0 0; text-align: center; position:relative;}
.pagination .link-dot{line-height: 30px;}
.pagination a, .pagination span {display: inline-block; position: relative; box-sizing: border-box; width: 40px; height: 40px; font-size: 18px; background: #fff; text-decoration: none; color: #000;border-radius: 50%; line-height: 40px; margin: 0px 2px;} 
.pagination .on  {background-color: #222; color: #fff;}
.pagination .page_prev::before{content: " "; width: 12px; height: 12px; display: block; position: absolute; top: 15px; left: -10px; border-top: 2px solid #222; border-left: 2px solid #222; box-sizing: border-box; transform: rotate(315deg);}
.pagination .page_next::before{content: " "; width: 12px; height: 12px; display: block; position: absolute; top: 15px; right: -10px; border-top: 2px solid #222; border-left: 2px solid #222; box-sizing: border-box; transform: rotate(135deg);}

/* 공지사항 상세페이지 */
.board_detail .tb_tit {border-top: 2px solid #000; padding: 20px;}
.board_detail .tb_tit h2{font-size: 22px;}
.board_detail .tb_tit .tb_sbtit{margin-top: 5px; color: #555;}
.board_detail .tb_tit .tb_sbtit span{margin-right: 5px;}
.board_detail .tb_tit .tb_sbtit span:nth-of-type(1)::after{content: " "; width: 1px; height: 10px; background: #cccccc;display: inline-block; margin-left: 7px;}
.board_detail .tb_tit .tb_sbtit span:nth-of-type(2)::after{content: " "; width: 1px; height: 10px; background: #cccccc;display: inline-block; margin-left: 7px;}
.board_detail .border_dl {display: table; border-top: 1px solid #dde2e8; border-bottom: 1px solid #dde2e8;}
.board_detail .border_dl + .border_dl {border-top:0;}
.board_detail .border_dl .title{display: table-cell; background-color: #f9f9f9; vertical-align:middle}
.board_detail .border_dl .title span{padding: 10px; font-size: 16px; width: 130px; display: inline-block; font-weight: bold; text-align: center; }
.board_detail .border_dl .text {width: 100%; background: #fff;height: auto; display: table-cell; padding:10px}
.board_detail .detail_contents{padding: 50px 10px;}
.board_detail .prev_next {display: flex;flex-direction: column;}
.board_detail .prev_next .prev, .board_detail .prev_next .next{display: flex;}
.board_detail .prev_next .prev, .board_detail .prev_next .next{border-top: 1px solid #dde2e8; border-bottom: 1px solid #dde2e8; position: relative;}
.board_detail .prev_next .prev::before, .board_detail .prev_next .next::before{background-image: url(../img/sub/btn_prev_B.png); width: 11px; height: 6px;display: inline-block;content: " "; position: absolute; top: 18px; left: 16px;}
.board_detail .prev_next .next::before{transform: rotate(180deg);}
.board_detail .prev_next .next {border-top: 0;}
.board_detail .prev_next span{padding: 9px 0px 9px 35px; background-color: #fff; font-size: 16px;font-weight: bold; display: block;}
.board_detail .prev_next .prev_area, .board_detail .prev_next .next_area{width: 120px;}
.board_detail .prev_next .prev_area_title, .board_detail .prev_next .next_area_title{width: calc(100% - 90px); padding: 10px 10px 10px 0px; overflow: hidden; box-sizing: border-box;}
.board_detail .prev_next a{display: block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.board_detail .prev_next a:hover{text-decoration: underline;}
.board_detail .more{display: flex; justify-content: flex-end; align-items: center; padding-top: 40px;}

/*첨부파일*/
.file_view .file_area {width: 100%; display: flex; margin-bottom: 0; flex-direction:column; box-sizing: border-box; word-break:break-all}
.file_view .file_area li {padding:10px 10px 10px 0; display: inline-flex; align-items:center; justify-content:space-between; flex-direction:row; border-bottom:1px dashed #d3d3d3; box-sizing: border-box; }
.file_view .file_area li:last-child { border-bottom:0;}
.file_view .btn_box {margin-left:20px; display:flex; gap:10px; }
.file_view .btn_box .btn {padding:10px 10px 10px 35px; transition:all 0.3s; border-radius:5px;}
.file_view .btn_box .btn.btn_icon.down {background-position:left 10px center;}
.file_view .btn_box .btn.btn_icon.view {background-position:left 10px center;}
.file_view .btn_box .btn:hover {background-color:#eff6fb;}
.file_view.write .file_area {padding:0;}

/*분류/항목선택박스*/
.stat_classBox {display:flex; border:1px solid #d9d9d9; justify-content: space-between; box-sizing: border-box;}
.stat_classBox .lt_box, .stat_classBox .rt_box {display:flex; flex-direction: column; position: relative;}
.stat_classBox .lt_box {border-right:1px solid #d9d9d9; width:60%;}
.stat_classBox .rt_box {width:40%;}
.stat_classBox p.title {font-size:18px; color:#222; font-weight:bold; width:100%; height:40px; line-height:40px; text-align:center; border-bottom:1px solid #d9d9d9; background-color: #f2f2ff;}
.stat_classBox .set_con {padding:20px; box-sizing: border-box;}
.stat_classBox .set_con .sel_box {display: flex; align-items: center; gap:10px;}
.stat_classBox .set_con .class_list {display: flex; margin-top:20px;}
.stat_classBox .set_con .class_list .class_title {width:100px; color:#27389F; line-height:24px; font-weight:bold; padding-left:10px; background:url('../img/sub/icon_st_choice_2.png') no-repeat left 0 top 6px;}
.stat_classBox .set_con .class_list dd {width:calc(100% - 100px); display:flex; gap:10px; flex-flow:wrap;}
.stat_classBox .set_con .class_list dd span {font-size:14px; background-color:#f3f3f3; border-radius:50px; padding:2px 10px;}
.stat_classBox .btn_box {position:absolute; top:3px; right:5px;}
.stat_classBox .ck_list li + li {margin-top:10px;}

/*체크박스 관련*/
.ck_list_n5 {display:flex; flex-flow: wrap; justify-content: space-between;}
.ck_list_n5 li {width:20%; margin-bottom:10px;}

/* 파일 삭제 & 신청정보수정 24.09.03*/
.btn_close_x { width: 36px; height: 36px; transition: 0.3s; display: inline-block; border: 1px solid #ddd; background: #fff; border-radius: 50%; position: relative;}
.btn_close_x:hover{border:1px solid #616897;}
.btn_close_x:before{ content: ''; display: block; position: absolute; left: 10px; top: 16px; width: 13px; height: 1px; opacity: 0.3; background-color: #222; transform: rotate(45deg);}
.btn_close_x::after{ content: ''; display: block; position: absolute; left: 16px; top: 10px; width: 1px; height: 13px; opacity: 0.3; background-color: #222; transform: rotate(225deg);}
.btn_close_x:hover:before, .btn_close_x:hover::after {background: #616897; opacity: 1;}
.btn_help {width: 26px; height: 26px; display: inline-block; margin-left: 7px; background: #fff; border-radius: 50%; border: 1px solid #ddd; box-sizing: border-box;}
.btn_help::before{content: '?'; display: block; width: 25px; height: 25px; text-align: center; font-size: 15px;}
label.checkbox_wrap.v_m{vertical-align: -webkit-baseline-middle;}

/*트리메뉴*/
.ListTree {padding:15px; width:100%; min-height:400px; max-height:700px; border:1px solid #dde2e8; box-sizing: border-box; overflow: auto;}

.ListTree li{ position: relative; z-index: 5; padding-left: 25px; }
.ListTree li:before{content: " "; display: block; position: absolute; top: 12px; left: 9px; width: 2px; height: calc(100% + 5px); z-index: -1; /* border-left: 2px dotted #bbc0c4; */ }
.ListTree li:last-child:before { display: none; }
.dhtmlgoodies_tree{ padding-left: 0 !important;	}
.dhtmlgoodies_tree:before{ left: 9px !important; height: calc(100% - 20px) !important; }

/* Initially hide sub nodes */
.dhtmlgoodies_tree ul{
	display:none; 
	margin: 5px 0 -5px;
}

/* Nodes */
.dhtmlgoodies_tree li{width: 100%;list-style:none;/*display: flex;flex-wrap: wrap;*/ align-items: stretch;margin-bottom: 5px;position: relative;box-sizing: border-box;}
.dhtmlgoodies_tree > li{ padding-left: 0; }
.dhtmlgoodies_tree > li:last-child{ margin-bottom: 0; }

.dhtmlgoodies_tree li img { vertical-align:middle; z-index: 2; }
.dhtmlgoodies_tree li img.listIcoImg { width: 46px; height: 14px; margin-bottom:2px; }
.dhtmlgoodies_tree li > img{  margin-right: 5px; }
.dhtmlgoodies_tree li > img.icon_tree_open{ border-radius:5px; cursor: pointer; background: #fff; border: 1px solid #bbc0c4; box-sizing: border-box; width:20px; height:20px;}
.dhtmlgoodies_tree li > img.icon_tree_open:hover{ border-color: #090909; -webkit-box-shadow: 0 20px 20px rgba(0,0,0,0.05); box-shadow: 0px 0px 20px rgba(0,0,0,0.05); }
.dhtmlgoodies_tree li > img.icon_tree_close{ border-radius:5px; cursor: pointer; background: #064eb3; }
.dhtmlgoodies_tree li > img.icon_tree_close:hover{ background: #555; -webkit-box-shadow: 0 20px 20px rgba(0,0,0,0.05); box-shadow: 0px 0px 20px rgba(0,0,0,0.05); }

.dhtmlgoodies_tree li a{ color:#090909; text-decoration:none; font-size: 15px; }
.dhtmlgoodies_tree li > a { max-width: 100%; padding-right: 5px; }
.dhtmlgoodies_tree li img.icon_tree_open:hover + img + a.statSubLink,
.dhtmlgoodies_tree li img.icon_tree_close:hover + img + a.statSubLink,
.dhtmlgoodies_tree li a:hover,
.dhtmlgoodies_tree li a:focus{ text-decoration:underline; }

.dhtmlgoodies_tree li .btn { height: 24px; font-size: 13px; color:#000; background-color: #eef3ff; min-width:auto;padding:0 10px;}
.dhtmlgoodies_tree .date {display:inline-block; font-size:10px; padding:2px 5px; background-color:#4071d9; color:#fff; border-radius:5px; margin:0 5px;}

/* tree ul open */
.dhtmlgoodies_tree ul.dis_block { padding-left: 25px; display:block; box-sizing: border-box;}
.dhtmlgoodies_tree ul.dis_block > li { padding-left: 50px; }
.dhtmlgoodies_tree ul.dis_block li > img:first-child { margin-left: -50px; }
.dhtmlgoodies_tree ul.dis_block ul.dis_block { margin-left: -50px; width: calc(100% + 50px); }

/* tree last ul */
.dhtmlgoodies_tree ul.tree_last_ul{ z-index: 1; padding-left: 53px; margin-left: 0; }
.dhtmlgoodies_tree ul.tree_last_ul:before { display: none; }
.dhtmlgoodies_tree ul.tree_last_ul li{ display: block !important; position: relative; z-index: 5; padding-left: 25px; }
.dhtmlgoodies_tree ul.tree_last_ul li:before{ display: block; top: -10px; left: -20px; height: calc(100% + 3px); }
.dhtmlgoodies_tree ul.tree_last_ul li:last-child:before{ height: 24px; }
.dhtmlgoodies_tree ul.tree_last_ul li:after{ content: " "; display: block; position: absolute; top: 12px; left: -16px; width: 10px; height: 2px; z-index: -1; border-top: 2px dotted #bbc0c4; }
.dhtmlgoodies_tree ul.tree_last_ul li > img{ margin-left: -25px !important; margin-right: 0; vertical-align: top; margin-top: 3px; }
.dhtmlgoodies_tree ul.tree_last_ul li a{ cursor:text; }
.dhtmlgoodies_tree ul.tree_last_ul li a:hover{ text-decoration:unset !important; }
.dhtmlgoodies_tree ul.tree_last_ul li a:focus{ text-decoration:unset !important; outline: unset !important; }
